// Desktop tab menu for CFS content
.green-line {
  background-color: $color_brand-teal-dark;
  display: none;
  flex-direction: column;
  
  @include desktop {
    display: inline-block;
    width: 100%;
  }
}

.tab-acord {
  text-align: center;
}

.is-open {
  background: white;
}

#tab-nav {
  margin: 24px auto;
  width: 100%;
}

ul#tab-nav {
  padding: 0;
  display: inline-block;
}

#tab-nav li {
  list-style: none;

  @include mobile {
    padding: 1rem 0;
    border: 1px solid $color_brand-teal;
  }

  @include desktop {
    margin-right: -4px;
  }
}

#tab-nav li a {
  background: #ccc;
  text-decoration: none;
  color: white;
  background: $color_brand-teal-dark;
  text-transform: uppercase;
  @include font-open-light;
  font-size: 1.3rem;

  @include mobile {
    padding: 1.1rem 0;
  }

  @include desktop {
    vertical-align: middle;
    padding: 2rem 1rem;
    width: 380px;
    height: 100px;
    border-right: 1px solid $color_brand-teal;
    border-left: 1px solid $color_brand-teal;
  }
}

#tab-nav li a:hover, #tab-nav li a.active {
  background: $color_brand-teal;
  color: #F2F2F2;
  @include font-open-bold;
  border-bottom: 5px solid $color_brand-yellow;

  @include mobile {
    border-bottom: none;
  }
}

#tab-nav li a.active {
  @include mobile {
    padding-bottom: 0;
  }
}

#tab-nav section {
  display: none;
  float: left;
  background: white;
  overflow: hidden;
  
  h1, h2, h3, h4, h5 {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $color_brand-teal;
    text-transform: uppercase;
  }

  p {
    text-transform: none;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.no-js #tab-nav section {
  display: block;
}

#tab-nav li ul li a {
  padding: 10px 25px;
}

@include desktop {
  #tab-nav {
    width: 100%;
    position: relative;
    border: none;
  }

  #tab-nav li {
    display: inline;
  }

  #tab-nav li a {
    display: inline-block;
  }

  #tab-nav section {
    padding: 1%;
    position: relative;
    left: 0;
  }
}

// Mobile dropdown menu for CFS content
.content-dropdown {
  display: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  @include desktop {
    display: none;
  }

  a {
    text-transform: uppercase;
    color: white;
    background: $color_brand-teal-dark;
    border-top: 1px solid $color_brand-teal;
    padding: 1.5rem;
    @include font-open-regular;
    font-size: 1.1rem;
  }
}

.content {
  width: 70%;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6 {
    color: $color_brand-teal;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

.mobile-dropdown {
  margin-bottom: 3rem;
}

.mobile-dropdown, .fund-project {
  @include desktop {
    display: none;
  }
}

.mobile-dropdown .content {
  display: none;
}

.heading-tab {
  background: $color_brand-teal-dark;
  padding: 1.3rem;
  position: relative;

  h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    @include font-open-bold;
  }

  #mobile-dropdown-arrow {
    position: absolute;
    top: 45px;
    right: 55px;
  }
}


