/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/* Single Blog Post Page */

.single-post {
  .site-header {
    margin-bottom: 0;
  }

  h1 {
    @include shadows;
    color: white;
    line-height: 2;
    width: 100%;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;

    @include desktop {
      font-size: 5.5rem;
    }
  }

  .entry-title-container {
    position: absolute;
    width: 45%;
    bottom: 1rem;
    margin: 0 2rem;

    @include desktop {
      width: 60%;
      margin: 0 9rem;
      bottom: -10rem;
    }
  }

  .entry-meta {
    display: none;

    .byline, .author, .comments-link {
      display: none;
    }

    @include desktop {
      display: inline-block;
      margin-top: 4.5rem;
      font-weight: 100;
  		font-size: 1.3rem;
			width: 100%;
			padding-right: 10rem;
    	padding-left: 10rem;
    	text-align: right;
    }
  }

  .entry-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    line-height: 2;

		p {
			@include font-open-light;
		}
  }

  .comments-area, .widget-area, .search-form {
    display: none;
  }

  .related-posts {
    display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4rem;

    p {
      font-size: 1.2rem;
      font-weight: 100;
      color: $color_brand-blue-dark;
			margin-bottom: 4rem;

			@include desktop {
				font-size: 1.7rem;
    		font-weight: bold;
				margin: 1rem 0;
			}
		}
  }

  .social-share {
    text-align: center;
    margin-bottom: 3.4rem;

		@include desktop {
			display: flex;
    	align-items: center;
    	width: 60%;
    	margin: 0 auto;
			margin-top: 7rem;
    	margin-bottom: 4rem;
		}

    p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 100;
      color: $color_brand-blue-dark;

			@include desktop {
				font-size: 1.7rem;
    		font-weight: bold;
			}
    }

		.social-share-buttons {
			display: flex;
    	justify-content: space-around;
    	width: 75%;
    	margin: 0 auto;

			@include desktop {
				width: 70%;
			}
		}

		.blog-home-button img, .facebook-share-button img, .twitter-share-button img, .flickr-share-button img {
			height: 27px;
			width: auto;

			@include desktop {
				height: 60px;
			}
		}
  }

  .featured-image-container {
    height: 80vh;
    background-color: lightgrey;
    overflow: hidden;

    @include desktop {
      height: 100vh;
    }

    img {
      position: relative;
      object-fit: cover;
  		height: 100%;

      @include desktop {
        height: auto;
        width: 100%;
      }
    }
  }

	.blog-post {
		justify-content: center;
  	display: block;
  	text-align: center;
  	width: 100%;

		h3 {
			bottom: 10rem;
			font-size: 1.5rem;
			@include font-open-light;
			text-shadow: 1px 1px 2px black;
			width: 100%;
			padding: 0 5rem;
			margin: 0.5rem;

			a {
				color: white;
			}
		}
	}

	.more-blog-posts {
		width: 100%;

		.blog-post-meta {
			position: absolute;
			top: 25rem;
			width: 100%;
		}

		.blog-post-tag {
			margin: 0.5rem;
			width: 100%;
			color: white;
			@include font-open-light;
			font-size: 1.2rem;
			text-shadow: 1px 1px 2px black;
		}

		@include desktop {
			display: none;
		}
	}

	.flickity-viewport {
		height: 600px !important;
	}

	.flickity-page-dots {
		display: none;
	}

	.flickity-prev-next-button {
		background: transparent;
    box-shadow: none;

		&:hover {
			background: transparent;
		}

		.arrow {
			fill: $color_brand-blue-dark;
		}

		svg {
			width: 60px;
    	height: 60px;
    	top: 0px;
    	left: -10px;
		}
	}

	.post-thumbnail-container {
		height: 80vh;

		img {
			position: relative;
			height: 100%;
			object-fit: cover;
		}
	}

	.latest-blog-posts {
		display: flex;
		width: 80%;
		margin: 0 auto;
		justify-content: space-between;
		margin-bottom: 4.5rem;

		@include mobile {
			display: none;
		}

		h3 {
				text-align: center;
				font-size: 1.5rem;

				a {
					color: $color_brand-blue-dark;
				}
			}

		.blog-thumbnail-container {
			height: 60vh;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.latest-blog-post {
		flex: 0 1 25%;
		} 

		.post-tag {
			text-align: center;
			font-size: 1.5rem;
			color: $color_brand-blue-dark;
			@include font-open-bold;
		}
	}

	.tags-links, .cat-links {
		display: none;
	}
}
