/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/* Single Blog Post Pages */

.single-post {
	h1 {
		@include shadows;
		position: absolute;
		bottom: 3.5rem;
		color: white;
		width: 40%;
		margin-left: 2.5rem;
		line-height: 2;
	}

	img {
		position: relative;
	}

	.entry-meta {
		display: none;
	}

	.entry-content {
		@include font-open-regular;
		width: 380px;
		margin: 0 auto;
		margin-top: 3.5rem;
		line-height: 2;
	}

	.comments-area, .widget-area, .search-form {
		display: none;
	}
}
