#cta {
  font-weight: lighter;
  background: url("../../assets/Images/Mobile/about/tekera_about_us_kids_in_playground_.png");
  background-size: cover;
  background-position: 95% bottom;
  background-repeat: no-repeat;
  height: 140vh;
  position: relative;
  z-index: 1;

  @include desktop {
    background: url("../../assets/Images/Desktop/about/tekera_about_kids_in_playground.png");
    background-size: cover;
    height: 100vh;
  }

  #cta-blue {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background: url("../../assets/Triangles/triangle_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 1;
    

    @include desktop {
      background: url("../../assets/Triangles/desktop_triangle_left.png");
      background-size: cover;
      position: absolute;
      right: 0;
      background-position: 0;
      height: 100%;
      width: 80%;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      z-index: 1;  
    }

    #cta-text {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
      z-index: 1;  

      @include desktop {
        font-size: 3rem;
        width: 70%;
        text-align: right;
        margin-right: 80px;
        align-items: flex-end;
      }

      h2 {
        color: white;
        width: 40%;
        margin: auto;
        font-family: "Shadows Into Light Web";
        font-size: 2.2rem;
        font-weight: lighter;
        line-height: 3rem;

        @include desktop {
          font-size: 3rem;
          width: 100%;
        }
      }

      p {
        margin: 10px auto;
        width: 80%;
        font-size: 1.2rem;
        margin-bottom: 30px;
        margin-top: 30px;
        line-height: 2.2rem;

        @include desktop {
          font-size: 1.5rem;
          margin: 60px 0px;
        }
      }

      .button-get-involved {
        padding: 12px 20px;
        z-index: 1;  
        @include desktop {
          text-align: center;
          padding: 15px 40px;
        }

        a {
          color: white;
          font-weight: bold;
          font-size: 1.25rem;
          background-color: $color_brand-yellow;
          @include desktop {
          }
        }
      }
    }
  }
}