/* Front Page */

.site-main {
	.main-carousel{

		li.gallery-cell:nth-child(1){
			background: url('../../assets/Images/Mobile/home-page/tekera_home_page_music_dance.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
			height: 100vh;
			width: 100vw;
			position: absolute;
			list-style-type: none;

			@include desktop{
				background: url('../../assets/Images/Desktop/home-page/tekera_home_page_music_dance_drumming_festival_2.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50%;
			}
		}

		li.gallery-cell:nth-child(2){
			background: url('../../assets/Images/Mobile/home-page/tekera_homepage_tps_lunch_program_.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
			height: 100vh;
			width: 100vw;
			position: absolute;
			list-style-type: none;

			@include desktop{
				background: url('../../assets/Images/Desktop/home-page/tekera_home_page_tps_lunch_program_.png');
    		background-size: cover;
    		background-repeat: no-repeat;
    		background-position: 50%;
			}
		}

		li.gallery-cell:nth-child(3){
			background: url('../../assets/Images/Mobile/home-page/tekera_home_page_smiling_woman.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
			height: 100vh;
			width: 100vw;
			position: absolute;
			list-style-type: none;

			@include desktop{
				background: url('../../assets/Images/Desktop/home-page/tekera_home_page_internships_.png');
    		background-size: cover;
    		background-repeat: no-repeat;
    		background-position: 50%;
			}			
		}


		ol.flickity-page-dots{
			position: absolute;
			top: 0;

			li{
				background: #fff;
			}

			li:hover{
				background: #EE9825;
			}
		}
	}

	.carousel-text{
		position: absolute;
		bottom: 16%;
		left: 24%;
		width: 303px;
		height: 157px;
		font-family: 'Shadows Into Light Web';

			@include desktop{
				position: absolute;
    		bottom: 50%;
    		left: 20%;
    		right: 50%;
    		top: 40%;
    		width: 55%;
    		height: 33%;
    		font-family: 'Shadows Into Light Web';
			}

		p{
			color: #fff;
			text-align: center;
			font-size: 48px;
			line-height: 77px;
   		text-transform: uppercase;

			@include desktop{
				font-size: 100px;
    		line-height: 160px;
    		text-transform: uppercase;
			}	
		}
	}

	.going-to-school{
		background:url('../../assets/Images/Mobile/home-page/tekera_homepage_mom_going_by_the_school_.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;

		@include desktop{
			background: url('../../assets/Images/Desktop/home-page/tekera_home_page_mom_going_by_the_school_.png');
   		background-size: cover;
    	background-repeat: no-repeat;
    	background-position: top;
		}


		.frontpage-overlay-image{
			background:url('../../assets/Triangles/triangle_mobile.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			height: 70vh;
			width: 100vw;
			position: absolute;
			bottom: 0;

			@include desktop{
				background: url('../../assets/Triangles/desktop_triangle_right.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top;
				height: 100vh;
				width: 70vw;
				position: absolute;
				left: 0;
			}
		}

		.frontpage-info{
			position: absolute;
			top: 40%;
			left: 16%;
			width: 65%;

			@include desktop{
				top: 20%;
				left: 10%;
				max-width: 600px;
			}

			h2{
				font-size: 26px;
				width: 205px;
				height: 76px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				width: 100%;

				@include desktop{
					text-align: left;
				}
			}

			p{
				width: 272px;
				height: 315px;
				font-size: 20px;
				line-height: 34px;
				color: #fff;
				text-align: center;
				width: 100%;

				@include desktop{
					text-align: left;
				}
			}
		}

		.button{
			position: absolute;
			bottom: 3rem;
			left: 30%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;

			@include desktop{
				left: 10%;
    		bottom: 17rem;
			}
		}
	}


	.lunch-program{
		background:url('../../assets/Images/Mobile/home-page/tekera_homepage_tps_lunch_program_.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;

			@include desktop{
				background: url('../../assets/Images/Desktop/home-page/tekera_home_page_tps_lunch_program_.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top;
			}


		.frontpage-overlay-image{
			background:url('../../assets/Triangles/triangle_mobile.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			height: 65vh;
			width: 100vw;
			position: absolute;
			bottom: 0;

				@include desktop{
					background: url('../../assets/Triangles/desktop_triangle_left.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: top;
					height: 100vh;
					width: 70vw;
					position: absolute;
					right: 0;
				}
		}

		.frontpage-info{
			position: absolute;
			top: 48%;
			right: 20%;
			width: 60%;

				@include desktop{
					top: 25%;
					right: 10%;
					max-width: 600px;
				}

			h2{
				font-size: 26px;
				width: 272px;
				height: 76px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				line-height: 38px;
				width: 100%;

					@include desktop{
						text-align: right;
					}
			}

			p{
				width: 272px;
				height: 231px;
				font-size: 20px;
				line-height: 33px;
				color: #fff;
				text-align: center;
				width: 100%;

					@include desktop{
						text-align: right;
					}
			}
		}

		.button{
			position: absolute;
			bottom: 4rem;
			right: 33%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;

				@include desktop{
					bottom: 16rem;
					right: 11%;
				}
		}

	}

	.smiling-woman{
		background:url('../../assets/Images/Mobile/home-page/tekera_home_page_smiling_woman.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;

			@include desktop{
				background: url('../../assets/Images/Desktop/home-page/tekera_home_page_internships_.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top;
			}


		.frontpage-overlay-image{
			background:url('../../assets/Triangles/triangle_mobile.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			height: 65vh;
			width: 100vw;
			position: absolute;
			bottom: 0;

				@include desktop{
					background: url('../../assets/Triangles/desktop_triangle_right.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: top;
					height: 100vh;
					width: 70vw;
					position: absolute;
					left: 0;
				}
		}

		.frontpage-info{
			position: absolute;
			top: 48%;
			left: 18%;
			width: 65%;

				@include desktop{
					top: 20%;
					left: 10%;
					max-width: 600px;
				}

			h2{
				font-size: 26px;
				width: 169px;
				height: 86px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				line-height: 43px;
				width: 100%;

					@include desktop{
						text-align: left;
					}
			}

			p{
				width: 272px;
				height: 198px;
				font-size: 20px;
				line-height: 33px;
				color: #fff;
				text-align: center;
				width: 100%;

					@include desktop{
						text-align: left;
					}
			}
		}

		.button{
			position: absolute;
			bottom: 6rem;
			left: 30%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;

				@include desktop{
					bottom: 19rem;
					left: 10%;
				}
		}

	}

	.programs-info{

		@include desktop{
				max-width: 80%;
   			margin: 3rem auto 5rem;
		}	

		h1{
			color: #20ACAF;
			font-size: 2rem;
			font-weight: 800;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 0;
			padding: 3rem 2rem;

			@include desktop{
				height: 150px;
    		padding: 0;
			}
		}

		.icons-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

				@include desktop{
					padding: 2rem;
				}

			.icons-wrapper:nth-child(1){
				background: url('../../assets/Icons/Mobile/Mobile_png/Tekera_Mobile_Icon_Education.png');
   		  background-position: top;
    		background-repeat: no-repeat;
    		max-width: 160px;

					@include desktop{
						order: 4;
						background: url('../../assets/Icons/Desktop/png/Tekera_Icon_Education.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
			}

			.icons-wrapper:nth-child(2){
				background: url('../../assets/Icons/Mobile/Mobile_png/Tekera_Mobile_Icon_Farming.png');
				background-position: top;
				background-repeat: no-repeat;
				max-width: 160px;

					@include desktop{
						order: 1;
						background: url('../../assets/Icons/Desktop/png/tekera_icon_farming_.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
					
			}

			.icons-wrapper:nth-child(3){
				background: url('../../assets/Icons/Mobile/Mobile_png/Tekera_Mobile_Icon_Clinic.png');
				background-position: top;
				background-repeat: no-repeat;
				max-width: 160px;

					@include desktop{
						order: 2;
						background: url('../../assets/Icons/Desktop/png/Tekera_Icon_Clinic.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
			}

			.icons-wrapper:nth-child(4){
				background: url('../../assets/Icons/Mobile/Mobile_png/Tekera_Mobile_Icon_Economy.png');
				background-position: top;
				background-repeat: no-repeat;
				max-width: 160px;

					@include desktop{
						order: 6;
						background: url('../../assets/Icons/Desktop/png/Tekera_Icon_Economic.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
			}

			.icons-wrapper:nth-child(5){
				background: url('../../assets/Icons/Mobile/Mobile_png/tekera_mobile_icon_women_empowerment_.png');
				background-position: top;
				background-repeat: no-repeat;
				max-width: 160px;

					@include desktop{
						order: 3;
						background: url('../../assets/Icons/Desktop/png/tekera_icon_women_empowerment.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
			}

			.icons-wrapper:nth-child(6){
				background: url('../../assets/Icons/Mobile/Mobile_png/tekera_mobile_icon_community_.png');
				background-position: top;
				background-repeat: no-repeat;
				max-width: 160px;

					@include desktop{
						order: 5;
						background: url('../../assets/Icons/Desktop/png/Tekera_Icon_Community.png');
						background-position: top;
						background-repeat: no-repeat;
						margin: 0 3rem;
					}

					p{
						margin-top: 8rem;
						width: 160px;

						@include desktop{
							margin-top: 10.5rem;
						}
				}
			}

			
			.icons-wrapper{
				p{
					color: #072A3D;
					font-size: 26px;
					text-align: center;
				}
			}
				

			.icons-text{
				background: url('../../assets/Icons/Mobile/10,000_people_.png');
				background-repeat: no-repeat;
				width: 272px;
				height: 141px;
				margin-bottom: 2rem;

				@include desktop{
					background: url('../../assets/Icons/Desktop/Desktop_10000ppl.png');
					background-repeat: no-repeat;
					background-position: center;
					margin-top: 2rem;
					width: 90%;
					min-width: 700px;
					order: 3;
				}
			}
		}
	}
}