/* Get Involved: Internship Page */

.page-template-page-internship {
  .sponsor-hero {
    background: url('../../assets/Images/Mobile/get-involved/tekera_get_involved_intern_application_2_reading_a_book_for_kids.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    @include desktop {
      background: url('../../assets/Images/Desktop/get-involved/tekera_get_invloved_intern_application_internship_program.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.page-template-page-internship {
  .project-title-container {
    display: flex;
    background: $color_brand-white-transparent;
      @include desktop {
        display: none;
      }

    img{
      order: 1;
      align-self: center;
    }
  }
}

.page-template-page-internship {

  .sponsor-title {
    padding: 0.5rem 2rem;
    margin: 0;

    a {
      @include font-open-bold;
      color: $color_brand-blue-dark;
    }
  }

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;
    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
      position: fixed;
      width: 100%;
      margin-top: 100px;
    }
    ul {
      width: 80%;
      margin: 0 auto;
      @include desktop {
        display: flex;
        align-items: center;
        padding: 0.7rem 0;
      }
    }
    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;
      &:last-child {
        border-bottom: none;
      }
      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin-right: 4rem;
      }
    }
    a {
      color: $color_brand-blue-dark;
    }
  }
}

.page-template-page-internship {
  @include desktop {
    .overview-info {
     flex: 0 1 50%;
     margin-top: 1rem;
   }

   .overview-image {
     object-fit: cover;
   }

   .overview-image-container {
     height: 500px;
     width: 500px;
     margin-top: 3rem;
     margin-bottom: 2rem;
   }
  }
  .is-open {
    display: flex;
    justify-content: center;
    max-width: 100vw;

    .overview-info {
      p {
        @include font-open-light;
        font-size: 18px;
        line-height: 2.2rem;
        width: 45%;
      }
    }
  }
}

.page-template-page-internship {
  #tab-nav{

    li:nth-child(2) {
      
      h2 {
        color: #072A3D;
        font-size: 36px;
        line-height: 49px;  
        font-weight: 700;
        width: 75%;
        }
      }

      .job-post {
        display: flex;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #979797;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .job-title {
          display: flex;
          align-items: center;
          width: 200px;
          color: #20ACAF;
          font-size: 24px;
          line-height: 33px;
          font-weight: 700;
        }
        
        .entry-content {
          flex-basis: 60%;
          margin-top: 0;
          color: #4A4A4A;
          font-size: 20px;
          line-height: 34px;
        }

        .button {
          background-color: #ee9825;
          color: #fff;
          align-self: center;
          border: none;
          width: 253px;
          height: 55px;
          font-size: 20px;
          line-height: 33px;
          font-weight: 700;
          box-shadow: none;
          text-shadow: none;
          border-radius: 0;
          text-transform: uppercase;
          }
      }

        .job-post:nth-child(3), .job-post:nth-child(4), .job-post:nth-child(5) {
          padding-top: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid #979797;
        }

        .job-info {
          span p {
            color: #072A3D;
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
            // text-align: center;
            // width: 70%;
          }

          .button {
            background-color: #ee9825;
            color: #fff;
            border: none;
            width: 253px;
            height: 55px;
            font-size: 20px;
            line-height: 33px;
            font-weight: 700;
            box-shadow: none;
            text-shadow: none;
            border-radius: 0;
            text-transform: uppercase;
          }
        }
    }  
  }

// Text Styling on application form
.page-template-page-internship {
  .intern-sub-heading {
    @include font-open-bold;
    color: $color_brand-blue-dark;
    font-size: 1.5rem;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
  }

  .overlay-square label {
    @include font-open-regular;
  }

  form p {
    @include font-open-regular;
    width: 80%;
    margin: 0 auto;

    @include desktop {
      font-size: 1.5rem;
      color: $color_brand-blue-dark;
    }

    input {
      width: 100%;
      border-radius: 0;
      padding: 1rem;
      margin-bottom: 2rem;
      @include font-open-regular;
      border-color: black;

      @include desktop {
        width: 100%;
      }
    }
  }

  .wpcf7-list-item input {
    width: initial;
  }

  #gender, #edu-level, #work-experience {
    height: 60px;
    width: 100%;
    border-radius: 0px;
    background: white;
    margin-bottom: 2rem;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 1rem;
    border-color: black;
  }

  textarea {
    border-radius: 0;
    padding: 1rem;
  }

  input[type=checkbox] {
    margin-right: 0.5rem;
  }

  form .personal-info1, .personal-info3, .education {
    @include desktop {
      display: flex;
      flex-wrap: wrap;

      p {
      flex: 0 1 40%;
      }
    }
  }

  form .personal-info2, .personal-statements {
    @include desktop {
      p {
        width: 90% !important;
      }
    }
  }

  .traffic-source {
    @include font-open-regular;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;

    @include desktop {
      text-align: left;
      width: 90%;
      margin: 0 auto;
      font-size: 1.5rem;
      margin-bottom: 3rem;

      label {
        color: $color_brand-blue-dark;

        .wpcf7-list-item-label {
          color: black;
        }
      }
    }
  }

  .submit-button {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

    li:nth-child(3) {
      .entry-content-page {
        div.intern-sub-heading{
          color: #072A3D;
          font-size: 50px;

          line-height: 81px;         
          padding-left: 2rem;
          font-family: 'Shadows Into Light Web';
        }

        form.wpcf7-form{
          .overlay-background {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 5rem;
            overflow: hidden;

            .overlay-square{
              background-color: rgba(32,172,175,0.7);
              width: 100%;
              height: 100%;
              position: relative;

              label{
                color: #fff;
                font-size: 36px;
                font-weight: 600;
                padding-top: 0.6rem;
                position: absolute;
                left: 4rem;
              }
            }

              .overlay-triangle{
                width: 0;
                height: 0;
                border-top: 5rem solid transparent;
                border-bottom: 5rem solid transparent;
                border-left: 7rem solid rgba(32,172,175,0.7);
              }
           }

          p:nth-child(9) {
            span {
              color: #3B3B3B;
              font-size: 30px;
              font-weight: 100;
              line-height: 41px;
            }
          }
        }
      }
    }
  }


// Form Styling 

.page-template-page-internship {
  textarea#ps_1, textarea#ps_2, textarea#ps_3, textarea#ps_4{
    border: 1px solid #072a3d;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}


// Spacing for the last qs 
.page-template-page-internship {
  span.wpcf7-list-item{
    display: block;
    margin-left: 0;
  }
}

//Submit button
.page-template-page-internship {
  input#submit_button.wpcf7-form-control {
    background-color: #ee9825;
    border: none;
    width: 169px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
  }
}

//Overview page mobile version

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    #content1{
      width: 100%;

      .overview-content-mobile{
        width: 70%;
        margin: 0 auto;

        p{
          @include font-open-light;
          line-height: 2.2rem;
          font-size: 1.1rem;
        }
      }
    }
  }

  .page-template-page-internship {
    #content2{
      h1{
        display: none;
      }
      h2{
        text-align: center;
        color: #072A3D;
        font-size: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        border-bottom: 1px solid #979797;
        width: 75%;
        margin: 0 auto;
      }
    }
  }

  .page-template-page-internship {
      .job-post{
        flex-direction: column;

        .job-title{
          width: 100%;
        }
      }

      .job-post:nth-child(4){
        .job-title{
          padding-left: 2.5rem;
          padding-right: 2rem;
        } 
      }  

      .job-post:nth-child(5){
        .job-title{
          padding-left: 3.5rem;
          padding-right: 2rem;
        } 
      }    
  }


  .page-template-page-internship {
    .job-post{
      .entry-content{
        flex-basis: 30%;

        p{
          font-family: Open Web;
          font-weight: 100;
          font-style: normal;
          line-height: 2.2rem;
          font-size: 1.1rem;
          text-align: center;
        }  
      }
    }
  }

  .page-template-page-internship {
      .job-info{
        width: 80%;
        margin: 0 auto;

        p{
          text-align: center;
          font-family: 'Open Sans';
          font-weight: 600;
          padding-top: 1rem;
          padding-bottom: 2rem;
        }

        .apply_now_button{
          display: flex;
          justify-content: center;
        }
      }
    }
}

//Application form page mobile version

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    .heading-tab{
      margin-top: 3rem;
      // margin-bottom: 2.5rem;
    }
    .mobile-dropdown{
      .entry-content-page{
        p{
          color: #072A3D;
          font-size: 22px;
          line-height: 30px;
          font-weight: 700;
          padding-top: 3rem;
          padding-bottom: 3rem;
          text-align: center;
          font-family: 'Open Web';
        }

        form.wpcf7-form{
          p{
            color: #4A4A4A;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            padding-top: 0;
            padding-bottom: 0;
            text-align: left;
            font-family: 'Open Web'
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    select#edu-level {
      width: 100%;
      margin-bottom: 2.5rem;

    }
    select#work-experience {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    textarea#ps_1, textarea#ps_2, textarea#ps_3, textarea#ps_4{
      margin-bottom: 2rem;
    }
  }
}


// Spacing for the last qs 

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    span.wpcf7-list-item{
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .page-template-page-internship {
    #content3{
      width: 100%;

      form.wpcf7-form{
        .overlay-background{
          background-color: rgba(32,172,175,0.7);
          color: #fff;
          height: 7rem;
          font-size: 18px;
          font-weight: 600;
          padding-top: 2.5rem;
          padding-left: 2rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        
        p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6), p:nth-child(7), p:nth-child(8), p:nth-child(9){
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
