@include desktop {
    }
.post-type-archive-members {
  margin: auto;
  text-align: center;
  header {
    margin-bottom: 70px;
    @include desktop{
      margin-bottom: 40px;
    }
    .hero-banner {
      background: url("../../assets/Images/Desktop/staff/tekera_staff_trees.png");
      height: 55vh;
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }
    h1{
      margin-top: 70px;
      text-transform: uppercase;
      color: $color_brand-teal;
      @include desktop {
        color: $color_brand-blue-dark;
        width: 93%;
        text-align: left;
        margin: auto;
        margin-top: 50px;
    }
    }
    
  }

  .articles{
    margin-bottom: 150px;
    @include desktop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
    article{
      @include desktop {
        flex: 1 1 33%;
        min-width: 33%;
        max-width: 33%;
    }
    }
    img{
      max-width: 65%;
      top: 20px;
      z-index: -1;
      @include desktop{
        max-width: 80%;
      }
    }
    .text{
      font-family: "Open Web";
      position: relative;
      bottom: 35px;
      button{
        display: inline-block;
        margin: 0px;
        padding: 18px 10px;
        background-color: orange;
        width: 55%;
        margin: 0px auto;
        z-index: 999;
        color: white;
        font-size: 1.1rem;
        box-shadow: none;
        border: none;
        border-radius: 0px;
        font-weight: lighter;
      }
      p{
        margin: 0px auto;
      }
    }
  }















}