// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Triangle Overlays
// ***TODO*** ADJUST SIZES ONCE PAGE IS BUILT OUT

@mixin triangle-overlay-large-left {
	width: 0; 
  height: 0; 
  border-top: 400px solid transparent;
  border-bottom: 400px solid transparent;
  border-right: 400px solid var $color_brand-teal-transparent;
}

@mixin triangle-overlay-large-right {
	width: 0; 
  height: 0; 
  border-top: 400px solid transparent;
  border-bottom: 400px solid transparent;
  border-left: 400px solid var $color_brand-teal-transparent;
}

@mixin triangle-overlay-small-left {
	width: 0; 
  height: 0; 
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-right: 170px solid var $color_brand-teal-transparent;	
}

@mixin triangle-overlay-small-right {
	width: 0; 
  height: 0; 
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 170px solid var $color_brand-teal-transparent;	
}

//FONT FAMILY MIXINS
//**NOTE** FONTS.SCSS STILL CONTAINS TODO!!

//Open Web

@mixin font-open-regular {
	font-family: 'Open Web';
	font-weight: normal;
	font-style: normal;
}

@mixin font-open-bold {
	font-family: 'Open Web';
	font-weight: bold;
	font-style: normal;	
}

@mixin font-open-bold-italic {
	font-family: 'Open Web';
	font-weight: bold;
	font-style: italic;	
}

@mixin font-open-extrabold {
	font-family: 'Open Web';
	font-weight: bolder;
	font-style: normal;	
}

@mixin font-open-extrabold-italic {
	font-family: 'Open Web';
	font-weight: bolder;
	font-style: italic;	
}

@mixin font-open-italic {
	font-family: 'Open Web';
	font-weight: normal;
	font-style: italic;	
}

@mixin font-open-light {
	font-family: 'Open Web';
	font-weight: 100;
	font-style: normal;	
}

@mixin font-open-light-italic {
	font-family: 'Open Web';
	font-weight: light;
	font-style: italic;	
}

//Shadows Into Light

@mixin shadows {
	font-family: 'Shadows Into Light Web';
	font-weight: normal;
	font-style: normal;	
}
