// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Triangle Overlays
// ***TODO*** ADJUST SIZES ONCE PAGE IS BUILT OUT

@mixin triangle-overlay-large-left {
	width: 0; 
  height: 0; 
  border-top: 400px solid transparent;
  border-bottom: 400px solid transparent;
  border-right: 400px solid var $color_brand-teal-transparent;
}

@mixin triangle-overlay-large-right {
	width: 0; 
  height: 0; 
  border-top: 400px solid transparent;
  border-bottom: 400px solid transparent;
  border-left: 400px solid var $color_brand-teal-transparent;
}

@mixin triangle-overlay-small-left {
	width: 0; 
  height: 0; 
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-right: 170px solid var $color_brand-teal-transparent;	
}

@mixin triangle-overlay-small-right {
	width: 0; 
  height: 0; 
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 170px solid var $color_brand-teal-transparent;	
}

//FONT FAMILY MIXINS
//**NOTE** FONTS.SCSS STILL CONTAINS TODO!!

//Open Web

@mixin font-open-regular {
	font-family: 'Open Web';
	font-weight: normal;
	font-style: normal;
}

@mixin font-open-bold {
	font-family: 'Open Web';
	font-weight: bold;
	font-style: normal;	
}

@mixin font-open-bold-italic {
	font-family: 'Open Web';
	font-weight: bold;
	font-style: italic;	
}

@mixin font-open-extrabold {
	font-family: 'Open Web';
	font-weight: bolder;
	font-style: normal;	
}

@mixin font-open-extrabold-italic {
	font-family: 'Open Web';
	font-weight: bolder;
	font-style: italic;	
}

@mixin font-open-italic {
	font-family: 'Open Web';
	font-weight: normal;
	font-style: italic;	
}

@mixin font-open-light {
	font-family: 'Open Web';
	font-weight: 100;
	font-style: normal;	
}

@mixin font-open-light-italic {
	font-family: 'Open Web';
	font-weight: lighter;
	font-style: italic;	
}

//Shadows Into Light

@mixin shadows {
	font-family: 'Shadows Into Light Web';
	font-weight: normal;
	font-style: normal;	
}


//Responsive design

@mixin mobile {
  @media screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: $desktop-min-width) and (max-width: $desktop-max-width){
    @content;
  }
}

// Dropdown mobile nav 

@mixin mobile-nav {
	.custom-sub-menu-wrapper {
		position: fixed;
    display: none;
    text-align: center;
    background: white;
		width: 100%;

    @include desktop {
			position: fixed;
      display: block;
      background: $color_brand-white-transparent;
			width: 100%;
    }

    .get-involved-sub-menu {
      width: 100%;
			position: fixed;
    }

    ul {
      width: 80%;
      margin: 0 auto;

      @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        padding: 1rem;
      }
    }

    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
      }
    }

    a {
      color: $color_brand-blue-dark;
    }
  } 
}