/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Desktop version
.site-header{
	height: 100px;
	background-color: #20ACAF; 
	// margin-bottom: 1rem;
}

.site-header-wrapper{
	display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;

		@include mobile{
			display: flex;
			justify-content: flex-start;
			padding-left: 1.5rem;
		}


	.hamburger{
		background-color:#20ACAF;
		border: none;
		box-shadow: none;
		text-shadow: none;
		font-size: 2rem;
		color: #fff;
		// margin-right: 1rem; 
		padding-top: 0;
		flex: 0 1 20%;

		@include desktop{
			display: none;
		}

	}

	.hamburger-menu{
		position: absolute;

		ul{
			display: none;

			a{
				text-decoration: none;

				li{
					list-style-type: none;
				}
			}
		}
	
		@include desktop{
			display: none;
		}
	}

	.tekera-site-logo{
		padding-right: 2rem;

		@include mobile{
		display: none;
		}
		
	}

	.tekera-site-text{
		padding-right: 3rem;
		flex: 0 1 60%;

		@include desktop{
			flex: 0 1 20%;
		}
	}


}

.main-navigation{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;

	@include mobile{
		display: none;
	}

	.menu-nav-bar-container{
		ul{
			height: 100%;
			display: flex;

			li{
				display: flex;
				align-items: center;
				padding-right: 1rem;
				padding-left: 1rem;
	
				a{
					color: #fff;
					text-transform: uppercase;
				}
			}

			li:nth-child(5){
				border-left: 1px solid #EE9825;
				border-right: qpx solid #EE9825;
				background-color: #EE9825;
				font-weight: 700;
			}
		} // end of ul
	} // end of menu-nav-bar-container
}

div.tekera-triangles{

	img{
		height: 100%;

	}
	
		@include desktop{
			display: none;
		}
}

.site-main {

	.main-carousel{

		li.gallery-cell{
			list-style-type: none;

			img{
				height: 100%;
			}
		}

		ol.flickity-page-dots{
			position: absolute;
			top: 0;

			li{
				background: #fff;
			}

			li:hover{
				background: #EE9825;
			}
		}
	}

	.carousel-text{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 303px;
		height: 157px;

		p{
			color: #fff;
			text-align: center;
			font-size: 48px;
		}
	}


	.going-to-school{
		background:url('../../assets/Images/Mobile/home-page/Tekera_Homepage_Mom going by the school .png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;


		.frontpage-overlay-image{
			background:url('../../assets/Triangle overlays/Tekera_TriangleOverlay_MOBILE.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			height: 70vh;
			width: 100vw;
			position: absolute;
			bottom: 0;
		}

		.frontpage-info{
			position: absolute;
			top: 40%;
			left: 20%;

			h2{
				font-size: 26px;
				width: 205px;
				height: 76px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
			}

			p{
				width: 272px;
				height: 315px;
				font-size: 20px;
				line-height: 34px;
				color: #fff;
				text-align: center;
			}
		}

		.button{
			position: absolute;
			bottom: 3rem;
			left: 30%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;
		}

	}

	.lunch-program{
		background:url('../../assets/Images/Mobile/home-page/Tekera_Homepage_TPS Lunch program .png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;


		.frontpage-overlay-image{
			background:url('../../assets/Triangle overlays/Tekera_TriangleOverlay_MOBILE.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			height: 65vh;
			width: 100vw;
			position: absolute;
			bottom: 0;
		}

		.frontpage-info{
			position: absolute;
			top: 50%;
			left: 20%;

			h2{
				font-size: 26px;
				width: 272px;
				height: 76px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				line-height: 38px;
			}

			p{
				width: 272px;
				height: 231px;
				font-size: 20px;
				line-height: 33px;
				color: #fff;
				text-align: center;
			}
		}

		.button{
			position: absolute;
			bottom: 4rem;
			left: 30%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;
		}

	}

	.smiling-woman{
		background:url('../../assets/Images/Mobile/home-page/Tekera_Home page_Smiling woman.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		height: 100vh;
		width: 100vw;
		position: relative;


		.frontpage-overlay-image{
			background:url('../../assets/Triangle overlays/Tekera_TriangleOverlay_MOBILE.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			height: 65vh;
			width: 100vw;
			position: absolute;
			bottom: 0;
		}

		.frontpage-info{
			position: absolute;
			top: 45%;
			left: 20%;

			h2{
				font-size: 26px;
				width: 169px;
				height: 86px;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				line-height: 43px;
			}

			p{
				width: 272px;
				height: 198px;
				font-size: 20px;
				line-height: 33px;
				color: #fff;
				text-align: center;
			}
		}

		.button{
			position: absolute;
			bottom: 6rem;
			left: 30%;
			background-color: #ee9825;
			border: none;
			width: 169px;
			height: 50px;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			box-shadow: none;
			text-shadow: none;
		}

	}

	.programs-info{
		h1{
			color: #20ACAF;
			font-size: 2rem;
			font-weight: 800;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 0;
			padding: 3rem 2rem;
		}

		.icons-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.icons-wrapper{
				width: 160px;

				img{
					display: flex;
					margin: 0 auto;
				}

				p{
					color: #072A3D;
					font-size: 26px;
					text-align: center;
				}
			}

			.icons-text{
				width: 272px;
				height: 141px;
				margin-bottom: 2rem;
			}
		}
	}

}
