/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Desktop version
.site-header{
	height: 100px;
	background-color: #20ACAF; 
	margin-bottom: 1rem;
}

.site-header-wrapper{
	display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;

		@include mobile{
			display: flex;
			justify-content: flex-start;
			padding-left: 1.5rem;
		}


	.hamburger{
		background-color:#20ACAF;
		border: none;
		box-shadow: none;
		text-shadow: none;
		font-size: 2rem;
		color: #fff;
		// margin-right: 1rem; 
		padding-top: 0;
		flex: 0 1 20%;

		@include desktop{
			display: none;
		}

	}

	.hamburger-menu{
		position: absolute;

		ul{
			display: none;

			a{
				text-decoration: none;

				li{
					list-style-type: none;
				}
			}
		}
	
		@include desktop{
			display: none;
		}
	}

	.tekera-site-logo{
		padding-right: 2rem;

		@include mobile{
		display: none;
		}
		
	}

	.tekera-site-text{
		padding-right: 3rem;
		flex: 0 1 60%;

		@include desktop{
			flex: 0 1 20%;
		}
	}


}

.main-navigation{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;

	@include mobile{
		display: none;
	}

	.menu-nav-bar-container{
		ul{
			height: 100%;
			display: flex;

			li{
				display: flex;
				align-items: center;
				padding-right: 1rem;
				padding-left: 1rem;
	
				a{
					color: #fff;
					text-transform: uppercase;
				}
			}

			li:nth-child(5){
				border-left: 1px solid #EE9825;
				border-right: qpx solid #EE9825;
				background-color: #EE9825;
				font-weight: 700;
			}
		} // end of ul
	} // end of menu-nav-bar-container
}

div.tekera-triangles{

	img{
		height: 100%;

	}
	
		@include desktop{
			display: none;
		}
}

.site-main {

	.carousel-cell{
		height: 90vh;
		width: 100vw;

		.cycloneslider-slides.cycle-slideshow{
			position: none;
		}

		.cycloneslider-pager{
			position: absolute;
			right: 40vw;
		}
	}

	.going-to-school{

		.frontpage-background-image{
			img{
			height: 100vh;
			width: 100vw;
			position: absolute;
			}
		}

		.frontpage-overlay-image{
			img{
				position: relative;
				top: 10.5rem;
				width: 100%;
				height: 100%;
				padding-bottom: 9.5rem;
			}
		}
		
	}

	.lunch-program{

		.frontpage-background-image{
			img{
			height: 100vh;
			width: 100vw;
			position: absolute;
			}
		}

		.frontpage-overlay-image{
			img{
				position: relative;
				top: 12.5rem;
				width: 100%;
				height: 100%;
				padding-bottom: 9.5rem;
			}
		}
	}

	.smiling-woman{

		.frontpage-background-image{
			img{
			height: 100vh;
			width: 100vw;
			position: absolute;
			}
		}

		.frontpage-overlay-image{
			img{
				position: relative;
				top: 15rem;
				width: 100%;
				height: 100%;
				padding-bottom: 9.5rem;
			}
		}
	}

	.programs-info{
		h1{
			color: #20ACAF;
			font-size: 2rem;
			font-weight: 800;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 0;
			padding: 3rem 2rem;
		}

		.icons-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.icons-wrapper{
				width: 160px;

				img{
					display: flex;
					margin: 0 auto;
				}

				p{
					color: #072A3D;
					font-size: 26px;
					text-align: center;
				}
			}
		}
	}

}
