/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Desktop version
.site-header{
	height: 100px;
	background-color: #20ACAF; 
	position: fixed;
  width: 100%;
  //top: 0rem;
	z-index: 99;
	// margin-bottom: 1rem;
}

.site-header-wrapper{
	display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;

		@include mobile{
			display: flex;
			justify-content: flex-start;
			padding-left: 1.5rem;
		}


	.hamburger{
		background-color:#20ACAF;
		border: none;
		box-shadow: none;
		text-shadow: none;
		font-size: 2rem;
		color: #fff;
		// margin-right: 1rem; 
		padding-top: 0;
		flex: 0 1 20%;

		@include desktop{
			display: none;
		}

	}

	.hamburger-menu{
		position: absolute;
		left: -100vw;
		margin-top: 2rem;
		width: 100vw;
		height: 75vh;
		background-color: #fff;
		z-index: 1;

			@include desktop{
				display: none;
			}

		ul{

			@include desktop{
				display: none;
			}
			
				li{
					list-style-type: none;
    			padding: 1rem 1rem 1rem 0;
    			border-bottom: 1px solid #4A4A4A;
    			margin-left: 2rem;
    			margin-right: 6rem;
					min-width: 250px;

					a{
						text-decoration: none;
						color: #072a3d;
						font-size: 26px;
						font-weight: 700;
						text-transform: uppercase;
					}				
				}

				li:nth-child(4){
					a{
						color: #EE9825;
					}
				}

				li:nth-child(5){

					display: inline-block;
					border: none;
					margin-right: 0;
					min-width: 160px;

					a{
						font-weight: 100;
					}
				}

				li:nth-child(6){

					display: inline-block;
					border: none;
					margin-right: 0;
					margin-left: 0;

					a{
						font-weight: 100;
					}
				}
		}
	}

	// .expand{
	// 	display: block !important; 
	// }

	.tekera-site-logo{
		padding-right: 2rem;

		@include mobile{
			display: none;
		}
	}

	.tekera-site-text{
		padding-right: 3rem;
		flex: 0 1 70%;

		@include desktop{
			flex: 0 1 20%;
		}
	}
}

.main-navigation{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;

	@include mobile{
		display: none;
	}

	.menu-nav-bar-container{
    height: 100%;
		ul{
			height: 100%;
			display: flex;
      flex-wrap: wrap;
      justify-content: center;

			li{
				display: flex;
				align-items: center;
				padding-right: 1rem;
				padding-left: 1rem;
	
				a{
					color: #fff;
					text-transform: uppercase;
          border-bottom: 5px solid transparent ;
          position: relative;
          top: 5px;
				}

				a.active, a:focus, a:hover{
					color: #fff;
					// font-weight: 700;
					text-decoration: none;
					border-bottom: 5px solid #EE9825 ;
				}
			}

			li:nth-child(5){
				background-color: #EE9825;
				font-weight: 700;
        a{
          border-bottom: 7px solid transparent ;
          position: relative;
          top: 7px;
        }

				a.active, a:focus, a:hover{
					font-weight: 700;
					text-decoration: none;
					border-bottom: 7px solid #fff;
				}
			}
		} // end of ul
	} // end of menu-nav-bar-container
}

div.tekera-triangles{
	height: 100%;
	width: auto;

	img{
		height: 100%;
	}
	
		@include desktop{
			display: none;
		}
}



/* Footer */

.footer-main-wrapper {
  background-color: $color_brand-teal-dark;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 45rem;
  padding-top: 3rem;
  position: relative;
  @include font-open-light;
  min-height: 50rem;
  font-size: 0.85rem;
  min-width: 100%;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    color: #FFF;
  }
  p {
    font-size: 1rem;
  }
}

.footer-top {
  display: flex;
  flex-flow: row nowrap;
}

.footer-bottom {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3rem;
}

.footer-box {
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  margin-left: 6rem;
  width: 15rem;
  h3, h2 {
    font-weight: 400;
  }
  a {
    color: #FFF;
		
  }
  a:hover {
    color: $color_brand-orange;
  }
  p {
    margin: 4px;
  }
}

.social-media-box {
  margin: 0px;
}

.footer-box-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  img {
    width: auto;
    height: 3.5rem;
  }
}

.contact-sub-top {
  min-width: 20rem;
  h3 {
    margin-top: 0px;
  }
  p {
    margin: 4px;
  }
  img {
    width: auto;
    height: 3.5rem;
  }
}

.footer-bold {
  @include font-open-bold;
}

#bottom {
  margin-top: 1.5rem;
}

.contact-column {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: 20rem;
  margin-right: 2rem;
  h2 {
    margin-bottom: 1rem;
    font-weight: 300;
  }
  img {
    height: 5rem;
    width: 5rem;
  }
  a {
    color: #FFF;
  }
  a:hover {
    color: $color_brand-orange;
  }
}

.contact-column-right {
  margin-top: 3rem;
  p {
    margin: 0px;
  }
  a {
    color: #FFF;
  }
  a:hover {
    color: $color_brand-orange;
  }
}

#canada-flag {
  margin-top: 7rem;
}

.contact-column-outside {
  padding-top: 4rem;
  margin-left: 2rem;
  p {
    margin: 0px;
  }  
}

.contact-email {
  p {
    margin-top: 1rem;
  }
}

.contact-spacer {
  h3 {
    margin-top: 2rem;
  }
}

#how {
  margin-left: 3rem;
	height: auto;
}

#get-involved {
  margin-left: 3rem;
}

.footer-copyright {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  p {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 640px) {
  .hider {
    display: none;
  }

  .footer-main-wrapper {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60rem;
  }

  .footer-box {
    width: auto;
		a {
		 min-width: 10rem;
		 z-index: 10;
		}
  }

  .footer-top {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
  }  

  .footer-bottom {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
  } 

  .social-media-box {
    position: absolute;
    left: 3rem;
    top: 0;
  }

  #who {
    position: absolute;
    left: 0;
    top: 10rem;
  }

  #what {
    position: absolute;
    left: 0;
    top: 16.5rem;    
  }

  #how {
    position: absolute;
    left: 3rem;
    top: 20rem; 
		z-index: 100;
		a {
			width: auto;
		}       
  }

  #get-involved {
    position: absolute;
    left: 3rem;
    top: 28rem;     
  }

  .contact-column {
    flex-flow: column nowrap;
    position: absolute;
    left: 6rem;
    top: 40rem;  
    margin: 0px;       
  }

  .footer-copyright {
    position: absolute;
    bottom: 0;
    width: 17rem;
    height: auto;
  }

  .flow-controller {
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}

@media screen and (max-width: 950px) and (min-width: 640px) {
  .tablet-hider {
    display: none;
  }
}