/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Footer */
.footer-main-wrapper {
  background-color: $color_brand-teal-dark;  
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 45rem;
  padding-top: 3rem;
  position: relative;
  @include font-open-light;
  min-height: 45rem;
  font-size: 0.85rem;
  min-width: 100%;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    @include font-open-light;
  }
}

.footer-top {
  display: flex;
  flex-flow: row nowrap;
}

.footer-bottom {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3rem;
}

.footer-box {
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  margin-left: 6rem;
  width: 15rem;
  p {
    margin: 4px;
  }
}

.social-media-box {
  margin: 0px;
}

.footer-box-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  img {
    width: auto;
    height: 3.5rem;
  }
}

.contact-sub-top {
  min-width: 20rem;
  h3 {
    margin-top: 0px;
  }
  p {
    margin: 4px;
  }
  img {
    width: auto;
    height: 3.5rem;
  }
}

.footer-bold {
  @include font-open-bold;
}

#bottom {
  margin-top: 1.5rem;
}

.contact-column {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: 20rem;
  margin-right: 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  img {
    height: 5rem;
    width: 5rem;
  }
}

#chicken {
  margin-bottom: 6rem;
  margin-right: 1rem;  
}

.contact-column-right {
  margin-top: 3rem;
  p {
    margin: 0px;
  }
}

.contact-column-outside {
  padding-top: 4rem;
  margin-left: 2rem;
  p {
    margin: 0px;
  }  
}

.contact-email {
  p {
    margin-top: 1rem;
  }
}

.contact-spacer {
  h3 {
    margin-top: 2rem;
  }
}

.quick-links-header {
  display: none;    
}

#how {
  margin-left: 3rem;
}

#get-involved {
  margin-left: 3rem;
}

@media screen and (max-width: 640px) {
  
  
  .hider {
    display: none;
  }

  .footer-main-wrapper {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .footer-top {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
  }  

  .footer-bottom {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
  } 

  .social-media-box {
    position: absolute;
    left: 3rem;
    top: 0;
  }

  #who {
    position: absolute;
    left: 0;
    top: 10rem;
  }

  #what {
    position: absolute;
    left: 0;
    top: 16.5rem;    
  }

  #how {
    position: absolute;
    left: 3rem;
    top: 20rem;        
  }

  #get-involved {
    position: absolute;
    left: 3rem;
    top: 28rem;     
  }

  .contact-column {
    position: absolute;
    left: 6rem;
    top: 40rem;  
    margin: 0px;       
  }

  .quick-links-header {
    display: flex;
    position: absolute;
    top: 7.5rem;
    left: 3rem;
  }

}