/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Blog Archive Page */

.blog-hero {
  background: url('../../assets/Images/Desktop/blog/tekera_blog_teal_mic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 30rem;
  position: relative;
  margin: 0px;
  h1 {
    align-self: flex-start;
    @include shadows;
    color: #FFF;
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }  
}

.blog-post-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  position: relative;
  margin: 30px 0 30px 0;
  max-width: 40rem;
  height: 30rem;
}

.blog-post-box {
  a:hover {
    p, h3 {
    color: $color_brand-orange;
    }
  }
}

.blog-title-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem 1rem 1rem;
  position: absolute;
  bottom: 0;
  height: auto;
  min-height: 40%;
  background: url('../../assets/Triangles/desktop_triangle_right.png');
  background-position: center;
  background-size: cover;
  text-decoration: none;
  width: 100%;
  transition: 1s;
  h3 {
    @include font-open-bold;
    color: #FFF;
  }
  p {
    @include font-open-light;
    color: #FFF;
  }
}

.blog-title-wrapper {
  h3:hover {
    color: $color_brand-orange;
  }
}

  .more-blogs-button-mobile {
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('../../assets/Images/Mobile/load_more_shape_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;    
    min-width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    h2 {
      @include font-open-regular;    
      text-decoration: none;  
      color: #FFF; 
    }
  }

.breakhide {
  display: none;
}

.more-blogs-button-click {
  @include font-open-regular;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #FFF;
  outline: none;
  font-size: 1.5rem;
}

.more-blogs-button-click:hover {
  color: $color_brand-blue-dark;
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media screen and (min-width: 640px) {
 
  .blog-main-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
    .navigation {
      display: none;
    }
  }

  .blog-hero {
    h1 {
      font-size: 6rem;
    }
  }

  .blog-post-box {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: auto;
    width: 48%;
    max-width: 48%;
    height: 40rem;
  }

  .more-blogs-button {
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('../../assets/Images/Desktop/load_more_shape_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;
    min-width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    
    h2 {
      @include font-open-regular;    
      text-decoration: none;  
      color: #FFF; 
    }
  }

  .breakhide {
    display: inline;
  }
}

/* What We Do Archive Page */

.post-type-archive-projects {
  p {
    @include font-open-light;
    line-height: 2.2rem;
    font-size: 1.1rem;
  }

  h2 {
    @include font-open-regular;
    text-transform: uppercase;
  }

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;

    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
    }

    ul {
      width: 80%;
      margin: 0 auto;

      @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
      }
    }

    a {
      color: $color_brand-blue-dark;
    }
  }

  .projects-hero {
    background: url('../../assets/Images/Mobile/projects/tekera_projects_collecting_water.png') center center no-repeat;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem;

    @include desktop {
      background: url('../../assets/Images/Desktop/projects/tekera_projects_overview_collecting_water.png') center center no-repeat;
      background-size: cover;
    }
  }

  .project-title-container {
    @include desktop {
      display: none;
    }
  }

  .projects-title {
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include font-open-bold;
    color: $color_brand-blue-dark;
  }

  .dropdown-arrow {
    position: absolute;
    left: 13rem;
    top: 10.4rem;

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

  .overview h2 {
    text-align: center;
    background: $color_brand-teal-dark;
    color: white;
    padding: 1.2rem;
  }

  .overview-text {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .projects {
    width: 80%;
    margin: 0 auto;

    h2 {
    color: $color_brand-teal;
    font-weight: bold;

    @include desktop {
      text-align: center;
    }

      span {
        display: none;

        @include desktop {
          display: inline;
        }
      }
    }

    .project-type-list {
      margin-top: 5rem;

      h3 {
        @include shadows;
        text-transform: uppercase;
        font-size: 1.7rem;
        width: 50%;
        text-align: center;

        @include desktop {
          margin: 0;
        }
      }
    }

    .learn-more-projects {
      @include font-open-regular;
      text-transform: uppercase;
      color: white;
      background: $color_brand-yellow;
      font-size: 1.2rem;
      padding: 0.8rem 2rem;
    }

    .project-heading {
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include desktop {
        flex-wrap: wrap-reverse;
        justify-content: initial;
        flex: 0 1 25%;
      }

      .project-icon-2 {
        display: none;

        @include desktop {
          display: inline-block;
        }
      }
      
      @include desktop {
        .project-icon {
          display: none;
        }
      }
    }

    .project-info {
      @include desktop {
        flex: 0 1 73%;
      }
    }

    .project-type {
      margin-bottom: 4rem;
      border-bottom: 12px solid $color_brand-teal;

      @include desktop {
        display: flex;
        border-bottom: none;
      }
    }

    .project-description {
      margin: 3rem 0;
    }

    .learn-more-link {
      text-align: center;
      margin-bottom: 4.5rem;
      margin-top: 4.5rem;

      @include desktop {
        text-align: right;
      }
    }

    .border-bottom {
      border-bottom: 12px solid #20acaf;
      position: absolute;
      right: 0;
      left: 0;

      @include desktop {
        display: none;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

/* How We Do It */

.how-hero-wrapper {
  background: url('../../assets/Images/Desktop/blog/tekera_blog_celebrations_all_over_trc.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  height: 30rem;
  position: relative;
}

.how-hero-desktop {
  display: none;
}

.how

.our-model-header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_brand-teal-dark;
  @include font-open-light;
  height: 5rem;
  color: #FFF; 
  text-transform: uppercase;
  margin: 2rem 0 2rem 0;
}

.our-model-content-wrapper {
  padding: 0 2rem 0 2rem;
  @include font-open-light;
  h2 {
    color: $color_brand-teal;
    text-transform: uppercase;   
  }
}

.dev-practices {
  color: $color_brand-teal;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 8rem;
  text-align: left;
  p {
    margin: 1rem 2rem 1rem 0;
  }
}

.how-large-text {
  height: auto;
  line-height: 2;
}

.pesos-content {
  p {
  color: $color_brand-teal;
  @include font-open-bold;
  }
}

.how-we-do-it-prefooter {
  display: flex;
  background: url('../../assets/Images/Mobile/get-involved/tekera_get_involved_fund_a_project_kids_in_playground_.png');
  background-position: center;
  background-size: cover;
  height: 60rem;
  position: relative;
  overflow: visible;  
}

.how-prefooter-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/Triangle overlays/tekera_triangleoverlay_mobile.png');
  background-position: center;
  background-size: cover;  
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
  z-index: 10000;
  position: absolute;
  overflow: visible;
  bottom: 0;
}

.prefooter-overlay-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
  color: #FFF;
  font-family: 'Shadows Into Light Web';
  font-weight: 100;
  width: 75%;
  font-size: 1.25rem;
  p {
    @include font-open-light;
    line-height: 2;
  }
}

.get-involved-link {
  font-size: 0.75rem;
  @include font-open-regular;
  background-color: $color_brand-yellow;
  height: auto;
  width: 75%;
  text-transform: uppercase;
  a {
    color: #FFF;
  }  
  a:hover {
    color: $color_brand-teal;
  }
}

.how-desktop-insert {
  display: none;
}

 .sponsor-title {
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include desktop {
      display: none;
    }
    a {
      @include font-open-bold;
      color: $color_brand-blue-dark;
    }
  }

  .how-we-do-it-nav {
    display: none;
  }

  .how-we-do-it-mobile-header {
    @include font-open-regular;
    color: $color_brand-blue-dark;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 62px;
    background: hsla(0,0%,100%,.7);  
    h1 {
      margin-left: 2rem;
    }  
  }

@media screen and (min-width: 640px) {

  .how-we-do-it-mobile-header {
    display: none;
  }

  .how-we-do-it-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 62px;
    background: hsla(0,0%,100%,.7);
    z-index: 1000000;
    ul{
      padding-top: 1rem;
      margin-left: 8rem;
      width: auto;
    }
    ul li {
      display: inline;
      margin: 2rem;
    }
    a {
      @include font-open-regular;
      color: $color_brand-blue-dark; 
      font-size: 1.25rem;           
    }
  }

  .how-we-do-it-page {
    font-size: 1.25rem;
  }

  .how-hero-wrapper {
    display: none;
  }

  .how-hero-desktop {
    background: url('../../assets/Images/Desktop/our-model/tekera_our_model_assembly_at_primary_school_.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    height: 45rem;
    position: relative;
  }

  .dev-practices {
    text-align: center;
    @include font-open-bold;
    font-size: 1.25rem;    
  }

  .our-model-content-wrapper {
    padding: 0 6rem 0 6rem;
  }

  .how-desktop-insert {
    margin-top: 6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    height: 65rem;
  }

  .how-insert-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;
  }

  .how-insert-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    width: 30%;
    height: auto;
    text-align: center;
    img {
      width: 10rem;
      height: 10rem;
    }
    h4 {
      @include shadows;
      text-transform: uppercase;
      width: 90%;
      padding: 0px;
      margin: 0px;
    }
  } 

  .how-insert-middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    height: auto;
    width: 60%;   
    margin: 1rem 0 1rem 0; 
    h1, h2 {
      @include font-open-bold;
      text-transform: uppercase;
      color: $color_brand-blue-dark;
      margin: 0px;
      padding: 0px;
    }  
    h1 {
      font-size: 5rem;
    }   
    h2 {
      font-size: 2rem;
    }
  }

    .how-insert-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 4rem;
    width: 60%;
    img {
      width: 10rem;
      height: 10rem;
    }
    h4 {
      @include shadows;
      text-transform: uppercase;
      width: 90%;
    }
  }

  .how-we-do-it-prefooter {
    display: flex;
    background: url('../../assets/Images/Desktop/our-model/tekera_our_model_kids_in_playground_.png');
    background-position: center;
    background-size: cover;
    height: 40rem;
    position: relative;
    overflow: visible;
  }
  
  .how-prefooter-overlay {
    background: url('../../assets/Triangle overlays/tekera_desktop_triangleoverlay_left.png');
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;
    height: 100%;
    width: 75%;
    right: 0;
  }    

  .get-involved-link {
    width: 15rem;
  }

}

/* Global Goals */

.global-goals-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.global-goals-hero {
  background: url('../../assets/Images/Mobile/home-page/tekera_home_page_music_dance.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  height: 45rem;
  position: relative;
  width: 100%;
}

.sustainability-bar {
  display: flex;
  align-items: center;
  font-family: 'Open Web';
  font-weight: 100;
  font-style: normal;
  margin-top: 3rem;
  height: 6rem;
  width: 100%;
  background: $color_brand-teal-dark;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.global-goals-content-wrapper {
  margin: 0 2rem 0 2rem;
  @include font-open-light;
  h2 {
    text-transform: uppercase;
    color: $color_brand-teal;
  }
  p {
    line-height: 2;
  }
}

.compliance-header {
  @include font-open-light;
  background-color: $color_brand-teal;
  height: auto;
  color: #FFF;
  padding: 1rem 2rem 1rem 2rem;
}

.compliance-header-bold {
  @include font-open-bold;
}

.pre-compliance-box {
  @include font-open-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 2rem 3rem 2rem;
  height: 6rem;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}

.global-carousel {
  width: 100%;
  background-color: $color_brand-yellow;
  height: 100vh;
  margin-bottom: 8rem;
  .flickity-page-dots {
    display: none;
  }
}

.carousel-sub {
  @include font-open-light;
  align-items: center;
  background-color: $color_brand-yellow;
  color: #FFF;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  padding: 0 4rem 0 4rem;
  img {
    margin-top: 2rem;
    width: 7rem;
    height: 7rem;
    align-self: flex-start;
  }
  h3 {
    @include font-open-light;
    text-transform: uppercase;
    width: 7rem;
    text-align: center;
  }
}

.carousel-sub-footer {
  @include font-open-regular;
  color: #000;
  width: 100%;
  height: auto;
  text-align: right;
  font-size: 0.85rem;
}

.goal-items-wrapper {
  display: none;
}

.global-goals-triangle-banner {
  display: flex;
  background: url('../../assets/Images/Mobile/global-goals/tekera_global_goals_kids_in_playground_.png');
  height: 40rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.global-triangle-overlay {
  @include font-open-light;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url('../../assets/Triangles/triangle_mobile.png');
  background-size: cover;
  background-position: center;
  height: 85%;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.25rem;
  padding-top: 2rem;
  h2, p {
    color: #FFF;
    width: 75%;
    text-align: center;
  }
  h2 {
    @include shadows;
  }
}

.goal-item-content {
  display: none;
}

.button-get-involved {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color_brand-yellow;
  height: 3rem;
  width: 15rem;
  text-align: center;
  text-transform: uppercase;
  a {
    @include font-open-regular;
    color: #FFF;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 640px) {

  .global-goals-hero {
    background: url('../../assets/Images/Desktop/home-page/tekera_home_page_music_dance_drumming_festival_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
  }
  .sustainability-bar {
    display: none;
  }

  .global-goals-content-wrapper {
    width: 80%;
    font-size: 1.25rem;
    margin: 4rem 0 3rem 0;
  }

  .compliance-header {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      width: 70%;
    }
  }

  .pre-compliance-box {
    font-size: 1.5rem;
  }

  .global-carousel {
    display: none;
  }

  .goal-items-wrapper {
    display: block;
    height: 35rem;
    width: 80%;
    margin-bottom: 10rem;
    img {
      width: 15%;
      height: auto;
      margin: 0.25rem;
    }
    img:hover {
      cursor: pointer;
    }
  }

  .global-goals-triangle-banner {
    display: flex;
    background: url('../../assets/Images/Desktop/global-goals/tekera_global_goals_hover_kids_in_playground_.png');
    height: 40rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  }  

  .global-triangle-overlay {
    @include font-open-light;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: url('../../assets/Triangles/desktop_triangle_left.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    font-size: 2rem;
    padding-top: 2rem;
    h2, p {
      color: #FFF;
      width: 75%;
      text-align: center;
    }
    h2 {
      @include shadows;
    }
  }

  .goal-item-content-expanded {
    display: none;
    height: 35rem;
    width: 80%;
    padding: 3rem;
    h3 {
      @include font-open-regular;
      color: $color_brand-teal;
    }
    p {
      @include font-open-light;
    }
  }
}

/* Transparency */

.transparency-title-wrapper {
  @include font-open-bold;
  background: $color_brand-white-transparent;
  color: $color_brand-blue-dark;
  display: flex;
  height: 62px;
  align-items: center;
  padding-left: 3rem;
  width: 100%;
}

.transparency-hero {
  background: url('../../assets/Images/Mobile/global-goals/tekera_global_goals_student_reading.png');  
  height: 45rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.transparency-content-area {
  @include font-open-regular;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 3rem;
  text-align: left;
  font-size: 1.2rem;
  h1 {
    width: 90%;
    text-align: left;    
    color: $color_brand-teal;
    text-transform: uppercase;
  }
  p {
    @include font-open-light;
    width: 90%;    
    text-align: left;  
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 640px) {
  .transparency-title-wrapper {
    display: none;
  }

  .transparency-hero {
    background: url('../../assets/Images/Desktop/global-goals/tekera_global_goals_hover_student_reading.png');
    background-size: cover;
    background-position: center;    
  }
}

/* Our Impact */

.our-impact-hero {
  background: url('../../assets/Images/Mobile/global-goals/tekera_global_goals_kids_in_playground_.png');  
  height: 45rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 640px) {
  .our-impact-hero {
    background: url('../../assets/Images/Desktop/global-goals/tekera_global_goals_hover_kids_in_playground_.png');
    background-size: cover;
    background-position: center;     
  }
}


/* Get Involved Page */

.page-template-page-getinvolved{

  .banner{
    background: url('../../assets/Images/Mobile/get-involved/tekera_get_involved_current_positions_smiling_woman_.png');
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;  
    height: 90vh;
    width: 100vw;

    @include desktop{
      background: url('../../assets/Images/Desktop/get-involved/tekera_get_invloved_intern_current_positions_two_laughing_women.png');
      background-position: center;
      background-size: cover;  
      background-repeat: no-repeat;  
      height: 100vh;
      width: 100vw;
    }
  }

  .sponsor-title {
    color: $color_brand-blue-dark;
  }

  .overview-container-inner {
    h1 {
      @include font-open-bold;
      background: $color_brand-teal-dark;
      text-align: center;
      color: white;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.8rem;

      @include desktop {
        display: none;
      }
    }
  }

  .overview-wrapper {
    width: 70%;
    margin: 0 auto;

    h1 {
      @include font-open-bold;
      font-size: 1rem;
      color: $color_brand-teal;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #979797;
      padding-bottom: 2rem;

      @include desktop {
        display: none;
      }
    }

    h2 {
      display: none;

      @include desktop {
        display: inline-block;
        @include font-open-bold;
        color: $color_brand-blue-dark;
        text-transform: uppercase;
        font-size: 2rem;
      }
    }
  }

  .involvement {
    border-bottom: 1px solid #979797;
    padding-bottom: 4rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    h3 {
    color: $color_brand-teal;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    }

    p {
      @include font-open-light;
      line-height: 2.2rem;
      margin-bottom: 3rem;

      @include desktop {
        max-width: 50%;
        margin-bottom: 0;
        font-size: 1.1rem;
      }

    }

    a {
      background: $color_brand-yellow;
      padding: 1rem 2.5rem;
      color: white;
      text-transform: uppercase;
      font-size: 1.1rem;
      @include font-open-bold;
    }
  }
}

.page-template-page-getinvolved{

  .sponsor-title {
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include desktop {
      display: none;
    }
    a {
      @include font-open-bold;
      color: $color_brand-blue-dark;
    }
  }

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;
    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
    }
    ul {
      width: 80%;
      margin: 0 auto;
      @include desktop {
        display: flex;
        align-items: center;
        padding: 0.7rem 0;
      }
    }
    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;
      &:last-child {
        border-bottom: none;
      }
      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin-right: 4rem;
      }
    }
    a {
      color: $color_brand-blue-dark;
    }
  }
}


/* Get Involved: Sponsor Page */

.page-template-page-sponsor {
  p {
    @include font-open-light;
    line-height: 2.2rem;
    font-size: 1.1rem;
  }

  .sponsor-title {
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include font-open-bold;
    color: $color_brand-blue-dark;

    @include desktop {
      display: none;
    }

    a {
      @include font-open-bold;
      color: $color_brand-blue-dark;
    }
  }

  .dropdown-arrow {
    position: absolute;
    left: 13rem;
    top: 10.4rem;

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;
    max-width: 100%;

    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
    }

    ul {  
      width: 80%;
      margin: 0 auto;

      @include desktop {
        display: flex;
        align-items: center;
        padding: 0.7rem 0;
      }
    }

    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin-right: 4rem;
      }
    }

    a {
      color: $color_brand-blue-dark;
    }
  }

  .sponsor-hero {
    background: url('../../assets/Images/Mobile/get-involved/tekera_get_involved_sponsor_a_classroom_tps_kids_in_class_.png') center center no-repeat;
    background-size: cover;
    height: 80vh;
    margin-bottom: 3rem;

    @include desktop {
      background: url('../../assets/Images/Desktop/get-involved/tekera_get_involved_sponsor_a_classroom_tps_kids_in_class_.png') center center no-repeat;
      background-size: cover;
    }
  }

 #tab-nav section {
   .alignment {
    text-align: center;
   }

   .sponsor-price {
     @include font-open-bold;
     margin: 0 4rem;
   }

   .class-type {
     text-align: left;
   }

   #sponsor-now-button {
     background: $color_brand-yellow;
     border-right: none;
     border-left: none;
     height: 50px;
     width: 200px;
     padding: 0;
     padding-top: 0.6rem;
     @include font-open-bold;

     &:hover {
       border-bottom: none;
     }
   }

   .overview-content {
     flex: 0 1 50%;
   }

   .overview-image {
     object-fit: cover;
     height: 100%;
   }

   .overview-image-container {
     height: 500px;
     width: 500px;
     margin-left: 7rem;
     margin-top: 3rem;
   }
  }

 .mobile-dropdown {
   .option1.content {
     width: 100%;

     .overview-content-mobile {
       width: 70%;
       margin: 0 auto;
     }
   }

   .option2 {
     .alignment {
      text-align: center;
    }

    .sponsor-price {
      @include font-open-bold;
      margin: 0 1rem;
    }

    #sponsor-now-button {
      background: $color_brand-yellow;
      color: white;
      @include font-open-bold;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      font-size: 1.3rem;
    }
  }
  .sponsor-student {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
}