/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

=======>>>>>>>4115c8c599f9fbe50ab106fbcc479aac9a5836b9
/* Footer */

.footer-main-wrapper {
  background-color: $color_brand-teal-dark;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 45rem;
  padding-top: 3rem;
  position: relative;
  @include font-open-light;
  min-height: 45rem;
  font-size: 0.85rem;
  min-width: 100%;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    @include font-open-light;
  }
}

.footer-top {
  display: flex;
  flex-flow: row nowrap;
}

.footer-bottom {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3rem;
}

.footer-box {
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  margin-left: 6rem;
  width: 15rem;
  p {
    margin: 4px;
  }
}

.footer-box-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  img {
    width: auto;
    height: 3.5rem;
  }
}

.contact-sub-top {
  min-width: 20rem;
  h3 {
    margin-top: 0px;
  }
  p {
    margin: 4px;
  }
  img {
    width: auto;
    height: 3.5rem;
  }
}

#chicken {
  margin-right: 1rem;
}

.footer-bold {
  @include font-open-bold;
}

#bottom {
  margin-top: 1.5rem;
}


/* Contact */

.page-template-contact-php {
  margin: 30px;
  overflow-x: hidden;
  h1 {
    margin: 20px;
  }
  .hero-banner {
    height: 500px;
    background-color: red;
    margin: 20px;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .contact-info {
    margin: 60px auto;
    h2 {
      text-transform: uppercase;
    }
    .info-div {
      margin: 20px 0;
    }
    p {
      margin: 0px;
    }
  }
  .thanks {
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .arrow-down {
      width: 1px;
      height: 1px;
      border-left: 60vw solid transparent;
      border-right: 60vw solid transparent;
      border-top: 150px solid #f00;
      overflow: hidden;
    }
    .thanks-text {
      width: 240px;
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -120px;
    }
  }
  form {
    text-align: center;
    fieldset {
      text-align: left;
      margin: 0;
      padding: 0;
      border: none;
      input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    button {
      color: white;
      margin: 40px;
      width: 30%;
      height: 40px;
      background-color: orange;
      box-shadow: none;
      border: none;
    }
  }
}