.tax-project-type {

  #submenu{
    .custom-sub-menu-wrapper {
      top: 0;
    }
  }

  #primary{
    padding-top: 162px;
  }
    #submenu {
      .dropdown-arrow {
        position: relative;
        left: 220px;
        top: 0px;
      }
    }
  .dropdown-arrow {
    position: absolute;
    left: 13rem;
    top: 10.4rem;
    &:hover {
      cursor: pointer;
    }
    @include desktop {
      display: none;
    }
  }
  .project-title-container {
    display: flex;
    background: $color_brand-white-transparent;
    @include desktop {
      display: none;
    }
    img {
      order: 1;
      align-self: center;
    }
  }
  .projects-title {
    padding: 0.5rem 2rem;
    margin: 0; // background: $color_brand-white-transparent;
    // @include desktop {
    //   display: none;
    // }
    a {
      @include font-open-bold;
      color: $color_brand-blue-dark;
    }
  }
  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;
    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
    }
    ul {
      width: 80%;
      margin: 0 auto;
      @include desktop {
        display: flex;
        align-items: center;
        padding: 0.7rem 0;
        justify-content: space-around;
        flex-wrap: wrap;
        .menu-item-153 {
          font-size: 1.9rem;
          @include font-open-bold;
        }
      }
    }
    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;
      &:last-child {
        border-bottom: none;
      }
      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin: 0 0;
      }
    }
    a {
      color: $color_brand-blue-dark;
    }
  }
  .hero-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .global-carousel {
    display: block;
    width: 100%;
    background-color: $color_brand-yellow;
    height: 45vh;
    .flickity-page-dots {
      display: none;
    }
    .flickity-viewport {
      height: 100% !important;
    }
  }
  .carousel-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include font-open-light;
    align-items: center;
    background-color: $color_brand-yellow;
    color: #FFF;
    width: 45%;
    height: 100%;
    margin: 0 0;
    img {
      margin-top: 2rem;
      width: 7rem;
      height: auto;
      align-self: flex-start;
      margin: 0 auto;
    }
    p {
      text-align: center;
    }
  }
  .carousel-sub-footer {
    @include font-open-regular;
    color: #000;
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 0.85rem;
  }
  .carasel-content {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .carasel-content p:not(:first-child) {
    display: none;
  }
}