// Structure

$base__space-unit: 1.5rem;

// Colors
// WP Core variables

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// TRC brand color variables

$color_brand-teal: #20ACAF;
$color_brand-teal-dark: #006E71;
$color_brand-teal-transparent: rgba(32, 172, 175, 0.73);
$color_brand-teal-light-transparent: rgba(98, 196, 199, 0.7);
$color_brand-blue-dark: #072A3D;
$color_brand-yellow: #EE9825;
$color_brand-orange: #D44E1F;
$color_brand-white-transparent: rgba(255, 255, 255, 0.7);

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Repsonsive design

$mobile-min-width: 320px;
$mobile-max-width: 640px;
$desktop-min-width: 640px;
$desktop-max-width: 1440px;
