.who-we-are-page {
  font-family: "Open Web";

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;

    @include desktop {
      display: block;
      background: $color_brand-white-transparent;
      padding: 1rem 0;
    }

    ul {
      width: 80%;
      margin: 0 auto;

      @include desktop {
        display: flex;
        align-items: center;
      }
    }

    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin-right: 3rem;
      }
    }

    a {
      color: $color_brand-blue-dark;
    }
  }

  .dropdown-arrow {
    position: absolute;
    left: 15rem;
    top: 10.5rem;

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

.project-title-container {
    @include desktop {
      display: none;
    }
  }

  .projects-title {
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include font-open-bold;
    color: $color_brand-blue-dark;
  } 

  .herobanner {
    background: url("../../assets/Images/Desktop/about/tekera_about_student_with_sibling.png");
    background-size: cover;
    background-position: 72% bottom;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .content {
    margin-top: 50px;
    h1 {
      color: $color_brand-teal;
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 80%;
    }
  }
  .middle-content,
  .bottom-content {
    h1 {
      font-size: 1.3rem;
      text-transform: none;
      margin: 30px 0;
    }
  }
  .top-image {
    background: url("../../assets/Images/Mobile/about/tekera_about_page_collecting_water.png");
    background-size: cover;
    background-position: 95% bottom;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    @include desktop {
      background: url("../../assets/Images/Desktop/about/tekera_about_collecting_water.png");
      background-size: cover;
      height: 30vh;
      background-position: center right;
    }
    .top-blue {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 65%;
      background: url("../../assets/Triangles/triangle_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @include desktop {
        background: url("../../assets/Triangles/desktop_triangle_right.png");
        height: 100%;
        width: 50%;
        background-position: center right;
        background-repeat: no-repeat;
    }
      .top-phrase {
        color: white;
        p {
          margin: 30px auto;
          width: 58%;
        }
      }
    }
  }
  
  .bottom-image {
    background: url("../../assets/Images/Mobile/about/tekera_about_us_water_and_sanitation.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    @include desktop {
      background: url("../../assets/Images/Desktop/about/tekera_about_water_and_sanitation.png");
      background-size: cover;
      height: 30vh;
      background-position: center left;
    }
    .bottom-blue {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 65%;
      background: url("../../assets/Triangles/triangle_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @include desktop {
        background: url("../../assets/Triangles/desktop_triangle_left.png");
        height: 100%;
        width: 48%;
        background-position: center left;
        background-repeat: no-repeat;
        right: 0;
    }
      .bottom-phrase {
        color: white;
        h2{
          @include desktop {
            margin: 0px;
          }
        }
        ul {
          margin: auto;
          padding: 35px;
          width: 90%;
          text-align: left;
          @include desktop {
            padding-left: 80px;
            margin-right: 0px;
          }
        }
      }
    }
  }
}

@include desktop {
      
    }