.who-we-are-page {

 .submenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 98;
    @include desktop{
      flex-direction: row;
      justify-content: space-around;
    }
  }



  @include font-open-regular;
  p {
    @include font-open-light;
    font-size: 18px;
    line-height: 2.2rem;
  }
  

  .custom-sub-menu-wrapper {
    display: none;
    text-align: center;
    background: white;

    @include desktop {
      display: block;
      position: fixed;
      text-align: center;
      width: 100%;
      background: $color_brand-white-transparent;
      padding: 1rem 0;
            padding-top: 115px;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @include desktop {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }

    li {
      @include font-open-bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      border-bottom: 1px solid #3f3f3f;
      padding: 1.9rem 0;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        margin: 0 1rem;
        border-bottom: none;
        padding: 0;
        @include font-open-regular;
        text-transform: none;
        margin-right: 3rem;
      }
    }

    a {
      color: $color_brand-blue-dark;
    }
  }

  .dropdown-arrow {
    position: relative;
    left: 220px;
    top: 50px;

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

.project-title-container {
  width: 100%;
  padding-top: 70px;
    @include desktop {
      display: none;
    }
  }

  .projects-title {
    z-index: 99999;
    padding: 0.5rem 2rem;
    margin: 0;
    background: $color_brand-white-transparent;
    @include font-open-bold;
    color: $color_brand-blue-dark;
  }

  .herobanner {
    background: url("../../assets/Images/Desktop/about/tekera_about_student_with_sibling.png");
    background-size: cover;
    background-position: 72% bottom;
    background-repeat: no-repeat;
    height: 45rem;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .content {
    margin-top: 50px;
    width: 100%;

    h1 {
      color: $color_brand-teal;
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 80%;
    }
  }
  .middle-content,
  .bottom-content {
    h1 {
      font-size: 1.3rem;
      text-transform: none;
      margin: 30px 0;
    }
  }
  .top-image {
    background: url("../../assets/Images/Mobile/about/tekera_about_page_collecting_water.png");
    background-size: cover;
    background-position: 95% bottom;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    @include desktop {
      background: url("../../assets/Images/Desktop/about/tekera_about_collecting_water.png");
      background-size: cover;
      height: 30vh;
      background-position: center right;
    }
    .top-blue {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 65%;
      background: url("../../assets/Triangles/triangle_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @include desktop {
        background: url("../../assets/Triangles/desktop_triangle_right.png");
        height: 100%;
        width: 70%;
        max-width: 600px;
        background-position: center right;
        background-repeat: no-repeat;
    }
      .top-phrase {
        h2  {
          color: white;
          text-transform: none;
          font-size: 1.2rem;

          @include desktop {
            font-size: 1.5rem;
          }
        }

        p {
          margin: 30px auto;
          width: 60%;
          color: white;

          @include desktop {
            font-size: 20px;
          }
        }
      }
    }
  }
  
  .bottom-image {
    background: url("../../assets/Images/Mobile/about/tekera_about_us_water_and_sanitation.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
    @include desktop {
      background: url("../../assets/Images/Desktop/about/tekera_about_water_and_sanitation.png");
      background-size: cover;
      height: 30vh;
      background-position: center left;
    }
    .bottom-blue {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 85%;
      background: url("../../assets/Triangles/triangle_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @include desktop {
        background: url("../../assets/Triangles/desktop_triangle_left.png");
        height: 100%;
        width: 100%;
        max-width: 600px;
        background-position: center left;
        background-repeat: no-repeat;
        right: 0;
    }
      .bottom-phrase {
        h2 {
          color: white;
          width: 80%;
          margin: 0 auto;
          text-transform: none;
          font-size: 1.2rem;

          @include desktop {
            margin: 0 auto;
            font-size: 1.5rem;
          }
        }

        ul {
          margin: 30px auto;
          padding-left: 4rem;
          width: 85%;
          text-align: left;

          @include desktop {
            padding: 0;
            margin-right: 0px;
            margin-left: 20%;
          }
        }

        li {
          @include font-open-light;
          font-size: 18px;
          color: white;
          list-style-type: disc;
          line-height: 1.5rem;

          @include desktop {
          font-size: 20px;
          }   
        }
      }
    }
  }
}